<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.user.screencaffeine</string>

    <key>ProgramArguments</key>
    <array>
        <string>/opt/homebrew/opt/openjdk@21/bin/java</string>
        <string>-jar</string>
        <string>/Users/username/utils/ScreenCaffeine.jar</string>
    </array>

    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <false/>

    <key>StandardOutPath</key>
    <string>/Users/username/utils/ScreenCaffeine.log</string>

    <key>StandardErrorPath</key>
    <string>/Users/username/utils/ScreenCaffeine.log</string>
</dict>
</plist>
